
{% load i18n %}
{% load humanize %}
{% load mathfilters %}
{% block content %}

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{% trans 'Name' %}</th>
				<th>{% trans 'Deposit held' %}</th>
				<th>m<sup>2</sup></th>
				<th>{% trans 'Monthly invoice<br/>(ex ALV)' %}</th>
				<th>{% trans 'Monthly invoice<br/>(inc ALV)' %}</th>
				<th>{% trans 'Actions' %}</th>
			</tr>
		</thead>
		<tbody>
        {% for c in contracts %}
         <tr>
			<td><b>{{ c.name }}</b></td>
			<td class="number">{{ c.deposit_held }} &euro;</td>
			<td class="number">{{ c.meters_sq }} m<sup>2</sup></td>
			<td class="number">{{ c.get_monthly_invoice_ex_alv|floatformat:"2g" }} &euro;</td>
			 <td class="number">{{ c.get_monthly_invoice_inc_alv|floatformat:"2g" }} &euro;</td>
			 <td><a href="{% url 'admin:accounts_contract_change' c.id %}">{% trans 'Edit' %}</a>
				 | <a href="{% url 'accounts:generate_contract' c.id %}">{% trans 'Contract PDF' %}</a>
			 | <a href="{% url 'accounts:generate_custom_invoice' c.id %}">{% trans 'Custom Invoice' %}</a></td>
		</tr>
        {% endfor %}
		 <tr>
			<td><b>{% trans 'Totals' %}</b></td>
			<td class="number"><b>{{ total_deposit_held }} &euro;</b></td>
			<td class="number"><b>{{ total_m2_rented }} m<sup>2</sup></b></td>
			<td class="number"><b>{{ total_monthly_invoices_ex_alv|floatformat:"2g" }} &euro;</b></td>
			 <td class="number"><b>{{ total_monthly_invoices_inc_alv|floatformat:"2g" }} &euro;</b></td>
			 <td></td>
		</tr>
        </tbody>
</table>
</div>


{% endblock %}