{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% trans 'Lasku' %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'includes/bootstrap-4.6.2.min.css' %}" type="text/css"/>
     <link href="{% static 'kollektiivi/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <table width="100%">
        <tr>
            <td width="60%" class="invoice-align-top">
               <img src="{% static 'kollektiivi/images/kollektiivi-logo-50px.png' %}" style="padding: 0">
            </td>
            <td width="40%" align="right">
                   {{ config.org_name }}
                    <p>{{ config.org_address }}</p>
                    <p>{{ config.contact_email }}<br/>
                    {{ config.contact_phone }}</p>
                    <p>Y-tunnus: {{ config.y_tunnus }}</p>
            </td>

        </tr>
    </table>


<h1 style="text-align:center; margin-bottom:50px;">Lasku</h1>
<table width="100%">
    <tr>
        <td class="invoice-align-top">
            <b>{{ to_name }}</b><br/>
            {{ to_address|safe }}<br/>
            {% if to_ytunnus %}
                Y-tunnus: {{ to_ytunnus }}<br/>
            {% endif %}
        </td>
        <td class="invoice-align-top">
            <strong>Laskun päiväys</strong><br/>
            {{ invoice_date }}
        </td>
        <td class="invoice-align-top">
            <strong>Eräpäivä</strong><br/>
            {{ due_date }}<br/>
            <br/>
            <strong>Viite #</strong><br/>
            {{ ref }}
        </td>
    </tr>

</table>

<h2>{{ invoice_title }}</h2>

<table width="100%">
    <tr>
        <td class="invoice-table-header">Tuote</td>
        <td class="invoice-table-header-right">Hinta</td>
        <td class="invoice-table-header-right">ALV %</td>
        <td class="invoice-table-header-right">Hinta sis. ALV</td>
        <td class="invoice-table-header-right">Yhteensä</td>
    </tr>

    {% for il in invoice_lines %}
        <tr>
            <td class="">{{ il.description }}</td>
            <td class="invoice-align-right">{{ il.amount_ex_alv }} &euro;</td>
            <td class="invoice-align-right">{{ il.amount_alv_rate }}%</td>
            <td class="invoice-align-right">{{ il.amount_inc_alv }} &euro;</td>
            <td class="invoice-align-right">{{ il.amount_inc_alv }} &euro;</td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="4" class="invoice-table-header-right">Yhteensä veroton</td>
        <td class="invoice-align-right">{{ total_ex_alv }} &euro;</td>
    </tr>

    <tr>
        <td colspan="4" class="invoice-table-header-right">ALV {{ config.alv_rate }}%</td>
        <td class="invoice-align-right">{{ total_alv }} &euro;</td>
    </tr>

    <tr>
        <td colspan="4" class="invoice-table-header-right">Yhteensä</td>
        <td class="invoice-table-header-right">{{ total_inc_alv }} &euro;</td>
    </tr>
</table>



<h2>Maksutiedot</h2>

<table width="100%">
    <tr>
        <td class="invoice-table-header-left">Vastaanottajan nimi</td>
        <td class="invoice-table-header-left">IBAN/BIC</td>
        <td class="invoice-table-header-left">Viite #</td>
    </tr>
    <tr >
        <td class="invoice-align-top">{{ config.org_name }}</td>
        <td class="invoice-align-top">{{ config.account_iban }}<br/>{{ config.account_bic }}</td>
        <td class="invoice-align-top">{{ ref }}</td>
    </tr>
</table>



    <div style="text-align:center; margin-top:100px;">
        Y-tunnus (Business ID & ALV no) - {{ config.y_tunnus }}
    </div>
</div>
</body>
</html>