{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_head_title %}
{% trans "Accounts & Contracts" %}
{% endblock extra_head_title %}

{% block content %}

{% include "accounts/includes/accounts_header.html" %}

<h3>{% trans "Actions" %}</h3>

<a href="{% url 'admin:accounts_transaction_add' %}">{% trans "Add transaction" %}</a>
|
<a href="{% url 'accounts:transactions_view' %}">{% trans "View all transactions" %}</a>
|
<a href="{% url 'accounts:create_invoices' %}">{% trans "Generate Monthly Invoices" %}</a>

<h3>{% trans "Overview" %}</h3>

{% include "accounts/overview.html" %}

<h3>{% trans "Monthly Accounts" %}</h3>

<ul>
{% for tm in transaction_months %}
    <li><a href="{% url 'accounts:transactions_by_month_view' tm.year tm.month %}">{{ tm|date:"M Y" }}</a></li>
{% endfor %}
</ul>

<h3>{% trans "Pending Transactions" %}</h3>

{% include "accounts/pending_transactions.html" %}

<h3>{% trans "Contracts" %}</h3>

{% include "accounts/contracts.html" %}

{% endblock %}