{% extends "base.html" %}
{% load i18n %}
{% load admin_urls %}
{% load humanize %}
{% block extra_head_title %}
{% trans "Transactions" %}: {{ start_date|date:"M Y" }}
{% endblock extra_head_title %}
{% block content %}

{% include "accounts/includes/accounts_header.html" %}

<h2>{% trans 'Transactions' %}: {{ start_date|date:"M Y" }}</h2>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{% trans 'Date' %}</th>
				<th>{% trans 'Description' %}</th>
				<th class="number">{% trans 'Credit' %}</th>
				<th class="number">{% trans 'Debit' %}</th>
				<th class="number">{% trans 'ALV charged' %}</th>
				<th class="number">{% trans 'ALV paid' %}</th>
				<th class="number">{% trans 'Balance' %}</th>
				<th>{% trans 'File' %}</th>
			</tr>
		</thead>
		<tbody>

 <tr >
	<td class="total head-column">{{ start_date|date:"j M Y" }}</td>
	<td class="total head-column">{% trans 'Opening Balance' %}</td>
	<td class="head-column"></td>
	<td class="head-column"></td>
	<td class="head-column"></td>
	<td class="number head-column"></td>
	<td class="total number head-column">{{ opening_balance|floatformat:"2g" }}</td>
	<td class="number head-column"></td>
</tr>

{% for d in data %}
 <tr>
	<td>{{ d.transaction.date|date:"j M Y" }}</td>
	<td><a href="{% url 'admin:accounts_transaction_change' d.transaction.id %}" target="_blank">{{ d.transaction.description }}</a></td>
	<td class="number">{% if d.transaction.credit %}{{ d.transaction.credit|floatformat:"2g" }}{% endif %}</td>
	<td class="number">{% if d.transaction.debit %}{{ d.transaction.debit|floatformat:"2g" }}{% endif %}</td>
	<td class="number">{% if d.transaction.sales_tax_charged %}{{ d.transaction.sales_tax_charged|floatformat:"2g" }}{% endif %}</td>
	<td class="number">{% if d.transaction.sales_tax_paid %}{{ d.transaction.sales_tax_paid|floatformat:"2g" }}{% endif %}</td>
	<td class="number">{{ d.balance|floatformat:"2g" }}</td>
	<td>{% if d.transaction.file %}
				 <a href="{{ MEDIA_URL }}{{ d.transaction.file }}" target="_blank">{% trans 'View' %}</a>
				 {% endif %}</td>
</tr>
{% endfor %}

 <tr>
	<td class="total sum-column">{{ end_date|date:"j M Y" }}</td>
	<td class="total sum-column">{% trans 'Totals' %}</td>
	<td class="number total sum-column">{{ totals.total_credit|floatformat:"2g"}}</td>
	<td class="number total sum-column">{{ totals.total_debit|floatformat:"2g"}}</td>
	<td class="number total sum-column">{{ totals.total_alv_charged|floatformat:"2g"}}</td>
	<td class="number total sum-column">{{ totals.total_alv_paid|floatformat:"2g"}}</td>
	<td class="number total sum-column"></td>
	<td class="number total sum-column"></td>
</tr>

 <tr>
	<td><b>{{ end_date|date:"j M Y" }}</b></td>
	<td><b>{% trans 'Closing balance' %}</b></td>
	<td class="number"></td>
	<td class="number"></td>
	<td class="number"></td>
	<td class="number"></td>
	<td class="number total">{{ closing_balance|floatformat:"2g" }}</td>
	<td></td>
</tr>

{% if deposit_balance %}
 <tr>
	<td><b>{{ end_date|date:"j M Y" }}</b></td>
	<td><b>{% trans 'Deposit held' %}</b></td>
	<td class="number"></td>
	<td class="number"></td>
	<td class="number"></td>
	<td class="number"></td>
	<td class="number total">{{ deposit_balance|floatformat:"2g" }}</td>
	<td></td>
</tr>
 <tr>
	<td><b>{{ end_date|date:"j M Y" }}</b></td>
	<td><b>{% trans 'Funds available' %}</b></td>
	<td class="number"></td>
	<td class="number"></td>
	<td class="number"></td>
	<td class="number"></td>
	<td class="number total {% if funds_available < 0%}negative{% endif %}">{{ funds_available|floatformat:"2g" }}</td>
	<td></td>
</tr>
{% endif %}

</tbody>
</table>
</div>


{% endblock %}