{% extends "base.html" %}
{% load i18n %}
{% load admin_urls %}
{% load humanize %}
{% block extra_head_title %}
{% trans "All Transactions" %}
{% endblock extra_head_title %}
{% block content %}

{% include "accounts/includes/accounts_header.html" %}

<h2>{% trans 'All Transactions' %}</h2>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{% trans 'Date' %}</th>
				<th>{% trans 'Description' %}</th>
				<th class="number">{% trans 'Credit' %}</th>
				<th class="number">{% trans 'Debit' %}</th>
				<th class="number">{% trans 'On Statement' %}</th>
				<th class="number">{% trans 'Options' %}</th>
			</tr>
		</thead>
		<tbody>

{% for t in page_obj %}
 <tr>
	<td>{{ t.date|naturalday  }}</td>
	<td>{{ t.description }}</td>
	<td class="number">{{ t.credit|intcomma }}</td>
	<td class="number">{{ t.debit|intcomma }}</td>
	<td class="number">{{ t.on_statement }}</td>
	<td class="number"><a href="{% url 'admin:accounts_transaction_change' t.id %}">Edit</a></td>
</tr>
{% endfor %}
</tbody>
</table>

{% include "accounts/includes/transaction_nav.html" %}

{% endblock %}