<div class="clearfix"></div>
<footer class="footer">
	  <div class="banner-stripe-2"></div>
	  <div class="banner-stripe-1"></div>
	  <div class="banner"></div>
      <div class="container">
      	<ul class="list-unstyled"> 
			{% for item in FOOTER_ITEMS %}
      		<li>
        		<a href='/{{ item.slug }}'>{{ item.title }}</a>
      		</li>
      	{% endfor %}
        </ul>
      </div>
  	<div class="footer-copyright text-center py-3">&copy; {% now "Y" %} Copyright 
    <a href="/"> Kollektiivi</a>
  </div>
</footer>  