{% load i18n %}
{% load static %}
{% block content %}
	    <!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-light">
 <div class="container">  
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <a class="navbar-brand" href="{% url 'home' %}">
    <img src="{% static "kollektiivi/images/kollektiivi-logo-50px.png" %}" height="50px" class="d-inline-block align-top" alt="Kollektiivi logo">
  </a>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
  <form action="{% url 'set_language' %}" method="post" id="langform">{% csrf_token %}
	    <input name="next" type="hidden" value="{{ redirect_to }}">
    <ul class="navbar-nav nav-pills nav-fill btn-group">
    	<li class="nav-item">
        	<a href="{% url 'home' %}" class="nav-link">{% trans 'Etusivu' %}</a>
      	</li>
      	<li class="nav-item">
        	<a href="{% url 'blog:uutiset' %}" class="nav-link">{% trans 'Uutiset' %}</a>
      	</li>
      {% for item in MENU_ITEMS %}
      	<li class="nav-item">
        	<a href='/{{ item.slug }}' class="nav-link">{{ item.title }}</a>
      	</li>
      {% endfor %}
      <li class="nav-item">
	    <select class="language" name="language" id="language" onchange="this.form.submit()">
	        {% get_current_language as LANGUAGE_CODE %}
	        {% get_available_languages as LANGUAGES %}
	        {% get_language_info_list for LANGUAGES as languages %}
	        {% for language in languages %}
	            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
	                {{ language.name_local }} ({{ language.code }})
	            </option>
	        {% endfor %}
	    </select>
      </li>
    </ul>
    </form>
  </div>
  </div>
</nav>
<div class="banner"></div>

	    
	    
{% endblock content %}
