{% extends "base.html" %} 
{% load i18n %} 
{% load static %}

{% block social_media %}
<meta property="og:title" content="Kollektiivi Joensuu - {% trans 'Uutiset' %}" />
<meta property="og:image" content="https://kollektiivi.org/static/kollektiivi/images/kollektiivi-logo-250px">
<meta property="og:url" content="https://kollektiivi.org{% url 'blog:uutiset' %}"/>
<meta property="og:image:type" content="image/png">
<meta property="og:type" content="website" />
{% endblock social_media %}

{% block extra_head_title %}
	{% trans 'Uutiset' %}
{% endblock extra_head_title %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Kollektiivi' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans 'Uutiset' %}</li>
  </ol>
</nav>

<h1>{% trans 'Uutiset' %}</h1>

{% if page_obj %}
	{% for post in page_obj %}
		{% include "blog/post-row.html" %}
	{% endfor %}
	{% include "blog/pagination.html" %}
{% endif %}

{% endblock %}