{% load thumbnail %}
{% load i18n %} 

<div class="post-row">
	{% if post.image %}
		{% thumbnail post.image "200x200" format="PNG" padding=True as im %}
		<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="thumbnail post-image" alt="{{ post.title }}">
		{% endthumbnail %}
  	{% endif %}
  	
	<h2 class="post"><a href="{% url 'blog:post' post.slug %}">{{ post.title }}</a> </h2>
	<div class="post-date">{{ post.display_date|date:"j F Y" }}</div>
  	<div>
  		{{ post.body|safe|truncatewords_html:75 }}

		{% if post.postattachment_set %}
			<ul class="news-attachments">
			{% for pa in post.postattachment_set.all %}
				<li><a target="_blank" href="{{ pa.file.url }}">{{ pa.title }}</a></li>
			{% endfor %}
			</ul>
		{% endif %}

		<a href="{% url 'blog:post' post.slug %}">{% trans 'Lue lisää' %}</a>
  	</div>
  	<div class="clearfix"></div>
</div>