{% extends "base.html" %} 
{% load i18n %} 
{% load static %}
{% load thumbnail %}

{% block social_media %}
<meta property="og:title" content="Kollektiivi Joensuu - {{ blog.title }}" />
<meta property="og:description" content="{{ blog.body|striptags|truncatewords:75 }}" />
{% if blog.image %}
	<meta property="og:image" content="https://kollektiivi.org{{ blog.image.url }}">
{% else %}
	<meta property="og:image" content="https://kollektiivi.org/static/kollektiivi/images/kollektiivi-logo-250px">
{% endif %}
<meta property="og:url" content="https://kollektiivi.org{% url 'blog:post' blog.slug %}"/>
<meta property="og:image:type" content="image/png">
<meta property="og:type" content="website" />
{% endblock social_media %}

{% block extra_head_title %}
	{% trans 'Uutiset' %} - {{ blog.title }}
{% endblock extra_head_title %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Kollektiivi' %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'blog:uutiset' %}">{% trans 'Uutiset' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ blog.title }}</li>
  </ol>
</nav>

<div>
{% if blog.image %}
	<a href="{{ blog.image.url }}" data-toggle="lightbox" data-gallery="product-gallery">
  		{% thumbnail blog.image "250x250" format="PNG" padding=True as im %}
	 		<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="thumbnail post-image" alt="{{ blog.title }}">
  		{% endthumbnail %}
  	</a>
  {% endif %}
	<h1 class="blog">{{ blog.title }}</h1>
	<div class="post-date">{{ blog.display_date|date:"d F Y" }}</div>
  	<div>
  		{{ blog.body|safe }}
  	</div>
  	<div class="clearfix"></div>
</div>
  	

{% endblock %}