{% extends "base.html" %} 
{% load i18n %} 
{% load static %}

{% block social_media %}
<meta property="og:title" content="Kollektiivi Joensuu" />
<meta property="og:description" content="{{ page.body|striptags }}" />
<meta property="og:image" content="https://kollektiivi.org/kollektiivi/images/kollektiivi.png">
<meta property="og:url" content="https://kollektiivi.org/"/>
<meta property="og:image:type" content="image/png">
<meta property="og:type" content="website" />
{% endblock social_media %}


{% block extra_head_title %}
	{% trans 'Etusivu' %}
{% endblock extra_head_title %}

{% block content %}

<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselIndicators" data-slide-to="1"></li>
    <li data-target="#carouselIndicators" data-slide-to="2"></li>
    <li data-target="#carouselIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'kollektiivi/images/home-carousel-art1.jpg' %}" alt="{% trans 'Kollektiivi' %} {% trans 'strapline' %}">
	 <!--div class="carousel-caption d-none d-md-block">
	     <p>{% trans 'carousel-art1-caption' %}</p>
	 </div-->
    </div>
     <div class="carousel-item">
      <img src="{% static 'kollektiivi/images/home-carousel-lathe1.jpg' %}" alt="{% trans 'Kollektiivi' %} {% trans 'strapline' %}">
	 <!--div class="carousel-caption d-none d-md-block">
	   <p>{% trans 'carousel-lathe1-caption' %}</p>
	 </div-->
    </div>
    <div class="carousel-item">
      <img src="{% static 'kollektiivi/images/home-carousel-art2.jpg' %}" alt="{% trans 'Kollektiivi' %} {% trans 'strapline' %}">
	 <!--div class="carousel-caption d-none d-md-block">
	   <p>{% trans 'carousel-art2-caption' %}</p>
	 </div-->
    </div>
    <div class="carousel-item">
      <img src="{% static 'kollektiivi/images/home-carousel-blacksmith1.jpg' %}" alt="{% trans 'Kollektiivi' %} {% trans 'strapline' %}">
	 <!--div class="carousel-caption d-none d-md-block">
	   <p>{% trans 'carousel-blacksmith1-caption' %}</p>
	 </div-->
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">{% trans 'Edellinen' %}</span>
  </a>
  <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">{% trans 'Seuraava' %}</span>
  </a>
</div>

{% if page.body %}
	<h2 class="center">{{ page.body|safe }}</h2>
{% endif %}


<h2>{% trans 'Uutiset' %}</h2>
<div class="centered">
	{% for post in news %}
		{% include "kollektiivi/post-card.html" %}
	{% endfor %}
</div>

<h2>{% trans 'Jäseniä' %}</h2>
<div class="centered">
	{% for member in members %}
		{% include "kollektiivi/member-profile-card.html" %}
	{% endfor %}
</div>
{% endblock %}