{% extends "base.html" %} 
{% load i18n %} 
{% load thumbnail %}
{% load static %}

{% block extra_head_title %}
	{{ member.name }}
{% endblock extra_head_title %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Kollektiivi' %}</a></li>
    <li class="breadcrumb-item" aria-current="page">
    	<a href="{% url 'members' %}">{% trans 'Jäseniä' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ member.name }}</li>
  </ol>
</nav>

{% if member.photo %}
<div class="post-image">
	{% thumbnail member.photo "250x350" format="PNG" padding=False as im %}
	<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="thumbnail member-image" alt="{{ member.name }}">
	{% endthumbnail %}
</div>
{% endif %}

<h1 class="member-name">{{ member.name }}</h1>

{% if member.strapline %}
	<div class="member-strapline">{{ member.strapline }}</div>
{% endif %}

{% if member.body %}
<div class="content-page">
	{{ member.body|safe }}
</div>
{% endif %}

{% if member.contact %}
<h2 class="member-contact">{% trans 'Yhteys' %}</h2>
<div class="content-page">
	{{ member.contact|safe }}
</div>
{% endif %}

{% endblock %}