{% extends "base.html" %} 
{% load i18n %} 
{% load static %}

{% block extra_head_title %}
	{% trans 'Jäseniä' %}
{% endblock extra_head_title %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Kollektiivi' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans 'Jäseniä' %}</li>
  </ol>
</nav>

<h1>{% trans 'Jäseniä' %}</h1>

<h2>{% trans 'Nykyiset Jäsenet' %}</h2>
<div class="centered">
	{% for member in members_current %}
		{% include "kollektiivi/member-profile-card.html" %}
	{% endfor %}
</div>

{% if members_previous %}
<h2>{% trans 'Aiemmat Jäsenet' %}</h2>
<div class="centered">
	{% for member in members_previous %}
		{% include "kollektiivi/member-profile-card.html" %}
	{% endfor %}
</div>
{% endif %}


{% endblock %}