{% extends "base.html" %} 
{% load i18n %} 
{% load static %}


{% block social_media %}
<meta property="og:title" content="Kollektiivi Joensuu - {% trans 'Jäseniä' %}" />
<meta property="og:image" content="https://kollektiivi.org/kollektiivi/images/kollektiivi-logo-50px.png">
<meta property="og:url" content="https://kollektiivi.org/jäseniä"/>
<meta property="og:image:type" content="image/png">
<meta property="og:type" content="website" />
{% endblock social_media %}

{% block extra_head_title %}
	{% trans 'Jäseniä' %}
{% endblock extra_head_title %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Kollektiivi' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans 'Jäseniä' %}</li>
  </ol>
</nav>

<h1>{% trans 'Jäseniä' %}</h1>

<div class="centered">
	{% for member in members_current %}
		{% include "kollektiivi/member-profile-card.html" %}
	{% endfor %}
</div>


{% endblock %}