{% extends "base.html" %} 
{% load i18n %} 
{% load thumbnail %}
{% load static %}

{% block social_media %}
<meta property="og:title" content="Kollektiivi Joensuu - {{ page.title }}" />
<meta property="og:description" content="{{ page.body|striptags|truncatewords:75 }}" />
<meta property="og:image" content="https://kollektiivi.org/kollektiivi/images/kollektiivi.png">
<meta property="og:url" content="https://kollektiivi.org{{ page.slug }}"/>
<meta property="og:image:type" content="image/png">
<meta property="og:type" content="website" />
{% endblock social_media %}

{% block extra_head_title %}
	{{ page.title }}
{% endblock extra_head_title %}

{% if page.slug == "yhteys" %}
	{% block extra_css %}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
	     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
	     crossorigin=""/>
	{% endblock extra_css %}
	
	{% block extra_js %}
	 <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
	     integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
	     crossorigin=""></script>
	{% endblock extra_js %}
{% endif %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Kollektiivi' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
  </ol>
</nav>

<h1>{{ page.title }}</h1>


{% if page.image %}
<div class="page-image">
	{% thumbnail page.image "250x350" format="PNG" padding=False as im %}
	<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="page-image" alt="{{ page.title }}">
	{% endthumbnail %}
</div>
{% endif %}


<div class="content-page">
{% if page.body %}
	{{ page.body|safe }}
{% endif %}

{% if page.slug == "yhteys" %}
	<div id='mapid' style="width:100%; height:500px"></div>
	<script>
	var mymap = L.map('mapid').setView([62.60017, 29.78346], 15);
	L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
	    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(mymap);
	var marker = L.marker([62.60017, 29.78346]).addTo(mymap);
	</script>
{% endif %}
</div>

{% endblock %}