{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
	
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-42CGX4LKEC"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'G-42CGX4LKEC');
		</script>
		
		<title>
			{% trans 'Kollektiivi' %} - {% block extra_head_title %}{% endblock extra_head_title %}
		</title>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta name="description" content="{% trans 'strapline' %}">
    	<meta name="keywords" content="kollektiivi, joensuu, suomi, paja, finland, osuuskunta, taide">
    	<meta name="title" content="Alex Little Wood Designs">
    	<meta name="author" content="Alex Little">
    	

    	
    	<link rel="stylesheet" href="{% static 'includes/bootstrap-4.6.2.min.css' %}"/>
		<script src="{% static 'includes/jquery-3.5.1.slim.min.js' %}"></script>
		<script src="{% static 'includes/bootstrap-4.6.2.bundle.min.js' %}"></script>
    
    	<script src="{% static 'includes/ekko-lightbox-5.3.0.min.js' %}"></script>
    	<link rel="stylesheet" href="{% static 'includes/ekko-lightbox-5.3.0.css' %}"/>
    	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> 
		<link href="{% static "kollektiivi/style.css" %}" rel="stylesheet">
		<script src="{% static "shop/lightbox.js" %}"></script>
		
		{% block extra_css %}{% endblock extra_css %}
		{% block extra_js %}{% endblock extra_js %}
		
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'kollektiivi/favicons/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'kollektiivi/favicons/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'kollektiivi/favicons/favicon-16x16.png' %}">
		<link rel="manifest" href="{% static 'kollektiivi/favicons/site.webmanifest' %}">
		<link rel="mask-icon" href="{% static 'kollektiivi/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		
		<link rel="icon" type="image/svg+xml" href="{% static 'kollektiivi/favicons/favicon.svg' %}">
		<link rel="icon" type="image/png" href="{% static 'kollektiivi/favicons/favicon.png' %}">
		<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url 'blog:feed' %}">

	</head>
	<body>
	
	{% include "includes/header.html" %}

	 <div class="container">      
	{% block content %}
	{% endblock content %}
	</div> <!--  end container -->

	{% include "includes/footer.html" %}
 
</body>
</html>